* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(240, 240, 240);

	margin: 0;
	width: 100vw;


}



.cabecera {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	background-color: rgb(100, 100, 100);
	width: 100vw;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.1rem;
}

.cabecera div {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.logo {
	padding: 10px;
	cursor: default;

}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	width: 100%;
}

.caja {
	width: auto;
	font-size: .25em;
	height: 15px;
	padding: 0px 0px;
	text-align: center;
	/*border: solid 3px black;*/
	align-items: center;
	border-radius: 20px;
	margin: 5px;
	font-weight: bold;
}

nav a:hover {
	color: #fff;
}

.caja-select {
	text-decoration: underline;


}

.cabecera nav {
	width: 100vw;
	top: 0;
	right: 0;
	align-items: center;
	align-content: center;

}


.cabecera a {

	color: rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 0.8rem;
	line-height: 1rem;




}

.footer {
	position: relative;
	bottom: 0;
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%vw;
}

.logos-footer {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	text-align: center;
}

.group {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.newsletter {
	display: flex;
	align-items: center;
	margin-right: 40px;
	flex-direction: column;
	padding: 0px;
	border-radius: 5px;
}


.footer p {
	margin: 5px 0;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-decoration: none;
	font-size: 1rem;
	line-height: 2rem;
}

.newsletter p {
	font-size: 1.2rem;
}

.footer input[type="email"] {

	border-radius: 5px;
	border: none;
	width: 80vw;
	margin: 10px;

}

.footer button[type="submit"] {
	background-color: #fff;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	padding: 5px 10px;
	margin-left: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;


}

.body form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

label {
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
	padding: 10px;
	margin-bottom: 0px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 10px;
	margin-bottom: 10px;

}

input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

.body-contacto {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.container {

	display: flex;
	max-width: 100vw;
	max-height: 100vh;
	margin-bottom: 10px;
}

.form-container {
	flex: 1;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	width: 100%;
}

.container-index {
	display: flex;
	flex-direction: column-reverse;
	height: auto;
}

.image-container {

	align-items: center;
	justify-content: center;
	flex: 1;
	width: 100%;
	overflow: hidden;
	max-width: 100%;
	object-fit: contain;
	border-radius: 200px;
	padding: 20px;


}

.image-container img {
	display: block;
}



.text-container {

	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 20px;
}

.container-index p {

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 1.2rem;
	line-height: 1.2rem;
	margin-bottom: 25px;

}

.container-index h2 {

	align-items: flex-start;
	font-size: 2rem;

}

.container-index a {
	background-color: #007bff;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 2rem;
	line-height: 3rem;
	border: none;
	padding: 10px 20px;
	border-radius: 200px;
	cursor: pointer;
	display: flex;

}

hr {
	border-width: 3px;
	border-color: rgb(0, 0, 0);
	width: 100vw;
}

.novedades {
	display: flex;
	flex-direction: column;
	align-items: center;


}

.novedades article {
	border: solid 5px black;
	border-radius: 20px;
	width: 90vw;
	margin: 5px;
}

.titulo-secciones {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 2.5rem;
	margin-left: 40px;
}

.novedades h3 {

	text-align: center;
	font-size: 1.5rem;
	margin-top: 7px;
	margin-bottom: 7px;

}

.novedades p {
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
}

.logos-empresas {
	display: flex;
	flex-wrap: wrap;
	width: 200;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 45px;

}




.nosotros {

	margin: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	flex-wrap: wrap;


}

.img-nosotros {
	margin-top: 30px;
	width: 300px;
	border-radius: 150px;
	height: 300px;
	overflow: hidden;

}

.nosotros-article {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	justify-content: space-evenly;
	width: 30%;
	min-width: 300px;

}

.nosotros-titulo {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 1.8rem;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	margin-top:10px;
}

.presentacion-nosotros {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 1.2rem;
	margin-left: 40px;
	margin-right: 40px;
}

.nosotros-a {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	text-decoration: underline;
	font-size: 2.5rem;
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.container-servicios {
	display: flex;
	flex-flow: column;


}

.container-columna {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin:10px 0px;
}
.container-columna p{
	padding:20px;
}

.container-columna h3{
	margin-top:20px;
	font-size: 2rem;
}

.container-columna div {
	border: solid 3px black;
	background-color: beige;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;


}
.titulo__experiencias{
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
}
.experiencias__container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.experiencias__fotos{
	display: flex;
	flex-direction: column;
	width: 50vw;
	max-height: 600px;
}
.experiencias__texto{
	width: 50vw;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.experiencias__texto p{
	padding:5px 30px;
}

/*Media queri para pc*/
@media (min-width:720px) {

	.cabecera {
		flex-direction: row;

	}

	.cabecera div {
		justify-content: flex-start;
	}

	.cabecera a {
		font-size: 1.1rem;
	}

	.logo {
		font-size: 2.5rem;
	}

	.container-index {
		flex-direction: row;
	}

	.image-container {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		max-height: 100%;
		max-width: 100%;
		object-fit: cover;

	}

	.image-container img {
		border-radius: 200px;
	}

	

	.container-index h2 {
		font-size: 3rem;
	}

	.container-index p {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		text-decoration: none;
		font-size: 2rem;
		line-height: 3rem;
	}

	.novedades {
		flex-direction: row;
	}

	.novedades article {
		border: solid 5px black;
		border-radius: 20px;
		width: 30vw;
		margin: 50px;
	}

	.titulo-secciones {
		margin-top: 33px;
	}

	.footer {
		flex-direction: row;
	}

	.footer input[type="email"] {
		align-items: flex-start;
	}

	.footer form {
		width: 40vw;
	}

	.footer input[type="email"] {
		width: 35vw;
	}

	.newsletter {
		align-items: flex-start;
	}

	.newsletter p {
		margin-left: 12px;
	}

	/*finaliza index.html*/
	/*comienza quienes-somos.html*/
	.nosotros-titulo{
		font-size: 2.5rem;
	}
	

	/*finaliza quienes-somos.html*/
	/*comienza servicios.html*/
	.container-columna{
		flex-direction: row;
	}
	.container-columna img{
		max-width: 50vw;
	}
	.rev{
		flex-direction: row-reverse;
	}
	/*finaliza servicios.html*/
	/*comienza experiencias.html*/
	.experiencias__container{
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.experiencias__fotos{
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.experiencias__texto{
		width: 100vw;
		padding: 20px;
	}
.video{
	display: flex;
	justify-content: center;
	align-content: center;
}
}

/*finaliza media query para pc*/