<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Experiencias</title>
</head>

<body>
    <!----------------------- HEADER --------------------------------->

    <header class="cabecera">

        <div>
            <h1 class="cabecera__logo">FLA</h1>
        </div>
        <nav>
            <ul class="cabecera__nav">
                <li class="cabecera__caja"><a href="../index.html">Inicio</a></li>
                <li class="cabecera__caja"><a href="./quienes-somos.html">Quienes somos</a></li>
                <li class="cabecera__caja"><a href="./servicios.html">Servicios</a></li>
                <li class="cabecera__caja--select"><a href="#">Experiencias</a></li>
                <li class="cabecera__caja"><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <!----------------------- HEADER --------------------------------->

    <main>
        <h2 class="titulo__experiencias nosotros__titulo">Experiencias</h2>
        <div class="experiencias__container">
            <div class="experiencias__fotos">
                <img src="../img/DSC_5025.jpg" alt="foto uno">
                <img src="../img/DSC_4955.jpg" alt="foto dos">
            </div>
            <div class="experiencias__texto">
                <p>En nuestra fundación, nos enfocamos en trabajar con adolescentes y brindarles herramientas para su desarrollo personal. A través de programas diseñados específicamente para ellos, fomentamos habilidades sociales, emocionales y de liderazgo. Al trabajar en estrecha colaboración con los jóvenes, podemos observar de primera mano el impacto positivo que esto tiene en su autoestima, su capacidad para tomar decisiones saludables y positivas, y cómo esto se extiende a sus familias y comunidades. Nuestro compromiso es continuar brindando apoyo y recursos para ayudar a los adolescentes a alcanzar su máximo potencial.</p>

            </div>

        </div>

        <div class="video">
            <iframe width="672" height="378" src="https://www.youtube.com/embed/rXjCAQDipRQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </main>

    <!------------------------------ footer ---------------------------------->
    <footer class="footer">
        <div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/ubi.png" alt="ubicacion">
                <p>Dirección: Calle Siempreviva 1234</p>
            </div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/tel.png" alt="telefono">
                <p>Teléfono: +54 123 456 789</p>
            </div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/mail.png" alt="correo">
                <p>Correo electrónico: consultoradeprueba@gmail.com</p>
            </div>
        </div>

        <div class="footer__group newsletter">
            <p>Accede a nuestro newsletter y recibe nuestras últimas noticias</p>
            <form action="[URL del archivo que manejará el envío del formulario]" method="POST">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>


    <!------------------------------ footer ---------------------------------->


</body>

</html>