<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Quienes somos</title>
</head>

<body>
    <!----------------------- HEADER --------------------------------->

    <header class="cabecera">

        <h1 class="logo">Consultoria</h1>

        <nav>
            <ul class="flex-container">
                <li class="caja"><a href="../index.html">Inicio</a></li>
                <li class="caja caja-select"><a href="quienes-somos.html">Quienes somos</a></li>
                <li class="caja"><a href="servicios.html">Servicios</a></li>
                <li class="caja"><a href="experiencias.html">Experiencias</a></li>
                <li class="caja "><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <!----------------------- HEADER --------------------------------->


    <h2 class="nosotros-titulo">Conocenos</h2>
    <p class="presentacion-nosotros">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, id aspernatur! Ut et porro aliquam perferendis!
        Obcaecati quidem cupiditate neque veniam itaque reiciendis odit, natus officia eos accusamus, explicabo ratione.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis exercitationem corrupti, voluptate velit saepe
        nobis consequuntur tenetur enim perspiciatis iusto rem! Similique cupiditate officiis dolorum expedita quos
        cumque delectus. Ab!
    </p>

    <section class="nosotros">
        <article class="nosotros-article">
            <img class="img-nosotros" src="../img/RDM_9890.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ea temporibus tempora accusantium blanditiis fugiat quasi, similique dolor, aut a ullam laborum perspiciatis, sint praesentium repellendus doloribus nobis voluptas vel. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed quam earum, provident eum distinctio sint harum cum consequatur nam quia aut maxime, consectetur beatae, culpa tempora quo architecto unde optio!</p>
        </article>
        <article class="nosotros-article">
            <img class="img-nosotros" src="../img/RDM_9880.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ea temporibus tempora accusantium blanditiis fugiat quasi, similique dolor, aut a ullam laborum perspiciatis, sint praesentium repellendus doloribus nobis voluptas vel. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed quam earum, provident eum distinctio sint harum cum consequatur nam quia aut maxime, consectetur beatae, culpa tempora quo architecto unde optio!</p>

        </article>
        <article class="nosotros-article">
            <img class="img-nosotros" src="../img/RDM_9882.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ea temporibus tempora accusantium blanditiis fugiat quasi, similique dolor, aut a ullam laborum perspiciatis, sint praesentium repellendus doloribus nobis voluptas vel. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed quam earum, provident eum distinctio sint harum cum consequatur nam quia aut maxime, consectetur beatae, culpa tempora quo architecto unde optio!</p>

        </article>
    </section>

    <h3 class="nosotros-titulo">¿Querés sumarte a nuestro equipo?</h3>
    <a class="nosotros-a" href="./contacto.html">Contactanos!</a>
    

    <!------------------------------ footer ---------------------------------->
    <footer class="footer">
        <div>
            <div class="group">
                <img class="logos-footer" src="../img/ubi.png" alt="ubicacion">
                <p>Dirección: Calle Siempreviva 1234</p>
            </div>
            <div class="group">
                <img class="logos-footer" src="../img/tel.png" alt="telefono">
                <p>Teléfono: +54 123 456 789</p>
            </div>
            <div class="group">
                <img class="logos-footer" src="../img/mail.png" alt="correo">
                <p>Correo electrónico: consultoradeprueba@gmail.com</p>
            </div>
        </div>

        <div class="group newsletter">
            <p>Accede a nuestro newsletter y recibe nuestras últimas noticias</p>
            <form action="[URL del archivo que manejará el envío del formulario]" method="POST">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>


    <!------------------------------ footer ---------------------------------->


</body>

</html>