<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../img/favicon.ico">
    <title>Quiénes somos: La Fundación Líderes de Ansenuza y nuestro compromiso con el desarrollo personal y social de los jóvenes.</title>
</head>

<body>
    <!----------------------- HEADER --------------------------------->

    <header class="cabecera">

        <div>
            <h1 class="cabecera__logo">FLA</h1>
        </div>
        <nav>
            <ul class="cabecera__nav">
                <li class="cabecera__caja"><a href="../index.html">Inicio</a></li>
                <li class="cabecera__caja--select"><a href="#">Quienes somos</a></li>
                <li class="cabecera__caja"><a href="./servicios.html">Servicios</a></li>
                <li class="cabecera__caja"><a href="./experiencias.html">Experiencias</a></li>
                <li class="cabecera__caja"><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <!----------------------- HEADER --------------------------------->
    <main>

        <div class="nosotros">
            <div>
                <h2 class="nosotros__titulo">Conocenos</h2>
                <p class="nosotros__presentacion">Somos una fundación nacida en Miramar de Ansenuza, Córdoba.

                    Conformamos una gran red de jóvenes voluntarios de todo el país que buscan transformar la educación.

                    Y todo nuestro trabajo gira en torno al diseño y ejecución de programas educativos en el territorio
                    argentino.
                </p>
            </div>

            <section class="equipo">
                <article class="equipo__article">
                    <img class="equipo__img" src="../img/RDM_9890.jpg" alt="">
                    <p>¡Hola! Soy Franco del Rio y soy de Córdoba Capital.

                        Soy actor de teatro independiente y profesor de teatro egresado de la Universidad Provincial de Córdoba. Apasionado del arte, me encontrarás bailando, cantando o aprendiendo el diálogo de alguna escena.
                        
                        Seriéfilo, cinéfilo y cholulo hollywoodense. Amante de los memes y de las cosas dulces. Adicto a reír y a hacer reír.
                        
                        Pienso que la educación y la igualdad de oportunidades son los pilares fundamentales para la construcción de una sociedad integradora y equitativa.</p>
                </article>
                <article class="equipo__article">
                    <img class="equipo__img" src="../img/RDM_9880.jpg" alt="">
                    <p>Soy Palo, me sumé a FLA en el 2021 como parte del equipo de Vinculación, pero debido a mi pasión por la educación y los proyectos de impacto hoy en día soy la directora del programa Líderes, en donde reconocemos, premiamos e impulsamos el esfuerzo de nuestrxs ex-becarixs. 

                        Vivo en Buenos Aires y actualmente me encuentro estudiando la Licenciatura en Gestión de Tecnología de la Información, mientras trabajo como Business Analyst en una empresa multinacional. 
                        
                       </p>

                </article>
                <article class="equipo__article">
                    <img class="equipo__img" src="../img/RDM_9882.jpg" alt="">
                    <p>Me llamo Bernardo, pero en FLA me conocen como Ber. 

                        Me uní como voluntario en 2022 después de haber participado en Aventura Matemágica, un apasionante programa que mezclaba la matemática con la creatividad. Gracias a esto conozco de primera mano el impacto que tiene nuestra labor en los jóvenes.
                        
                        Actualmente desempeño el rol de director de medición de impacto. Uno de los cuatro pilares de fortalecimiento interno de la fundación, cuya función es cuantificar el progreso de la institución y aplicar procesos de mejora continua. </p>

                </article>
            </section>

            <h3 class="nosotros__titulo">¿Querés sumarte a nuestro equipo?</h3>
            <a class="nosotros__a" href="./contacto.html">Contactanos!</a>
        </div>
    </main>
    <!------------------------------ footer ---------------------------------->
    <footer class="footer">
        <div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/ubi.png" alt="ubicacion">
                <p>Dirección: Calle Siempreviva 1234</p>
            </div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/tel.png" alt="telefono">
                <p>Teléfono: +54 123 456 789</p>
            </div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/mail.png" alt="correo">
                <p>Correo electrónico: consultoradeprueba@gmail.com</p>
            </div>
        </div>

        <div class="footer__group newsletter">
            <p>Accede a nuestro newsletter y recibe nuestras últimas noticias</p>
            <form action="[URL del archivo que manejará el envío del formulario]" method="POST">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>


    <!------------------------------ footer ---------------------------------->


</body>

</html>