<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../img/favicon.ico">
    <title>Programas y servicios: Descubre cómo la Fundación Líderes de Ansenuza trabaja para mejorar la calidad de vida de jóvenes y familias en situación de riesgo.</title>
</head>

<body>
    <!----------------------- HEADER --------------------------------->
    <main>
        <header class="cabecera">

            <div>
                <h1 class="cabecera__logo">FLA</h1>
            </div>
            <nav>
                <ul class="cabecera__nav">
                    <li class="cabecera__caja"><a href="../index.html">Inicio</a></li>
                    <li class="cabecera__caja"><a href="./quienes-somos.html">Quienes somos</a></li>
                    <li class="cabecera__caja--select"><a href="#">Servicios</a></li>
                    <li class="cabecera__caja"><a href="./experiencias.html">Experiencias</a></li>
                    <li class="cabecera__caja"><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
    
        </header>

        <!----------------------- HEADER --------------------------------->

        <h2 class="nosotros__titulo">Nuestros servicios</h2>
        <article class="servicios">
            <div class="servicios__columna">
                <img src="../img/DSC_0513.jpg" alt="">
                <div>
                    <h3>Asesoramiento para jóvenes en riesgo</h3>
                    <p>Ofrecemos asesoramiento a jóvenes en situaciones de riesgo para que puedan superar obstáculos y alcanzar su máximo potencial. Nuestro equipo de expertos proporciona un ambiente seguro y confidencial para que los jóvenes se sientan cómodos y puedan hablar abiertamente. Los jóvenes adquieren habilidades importantes para la vida, incluyendo la resolución de conflictos y la toma de decisiones saludables.</p>
                </div>

            </div>
            <div class="servicios__columna rev">
                <img src="../img/RDM_1831.jpg" alt="">
                <div>
                    <h3>Programa de liderazgo juvenil</h3>
                    <p>Nuestro programa de liderazgo juvenil está diseñado para desarrollar habilidades de liderazgo en jóvenes. Los participantes aprenden a comunicarse de manera efectiva, tomar decisiones sólidas y fomentar un entorno inclusivo y positivo. Nuestros mentores trabajan en estrecha colaboración con los jóvenes para que puedan aplicar sus habilidades de liderazgo en su vida cotidiana y en la comunidad.</p>
                </div>
            </div>
            <div class="servicios__columna">
                <img src="../img/RDM_2277.jpg" alt="">
                <div>
                    <h3>Apoyo emocional para familias</h3>
                    <p>Ofrecemos apoyo emocional a familias que necesitan ayuda para superar desafíos personales y familiares. Nuestro equipo de consejeros profesionales trabaja con cada familia para identificar las necesidades y metas específicas, y brinda herramientas y técnicas para fomentar la comunicación saludable y relaciones fuertes.</p>
                </div>
            </div>
            <div class="servicios__columna rev">
                <img src="../img/RDM_2349.JPG" alt="">
                <div>
                    <h3>voluntariado juvenil</h3>
                    <p>Nuestro servicio de voluntariado juvenil es una oportunidad para que los jóvenes den algo de sí mismos a la comunidad. Los participantes tienen la oportunidad de trabajar en proyectos significativos que tienen un impacto positivo en su comunidad. A través del servicio, los jóvenes desarrollan habilidades y valores importantes, como la empatía, el trabajo en equipo y la responsabilidad social.</p>
                </div>
            </div>
        </article>

    </main>
    <!------------------------------ footer ---------------------------------->
    <footer class="footer">
        <div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/ubi.png" alt="ubicacion">
                <p>Dirección: Calle Siempreviva 1234</p>
            </div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/tel.png" alt="telefono">
                <p>Teléfono: +54 123 456 789</p>
            </div>
            <div class="footer__group">
                <img class="footer__logos" src="../img/mail.png" alt="correo">
                <p>Correo electrónico: consultoradeprueba@gmail.com</p>
            </div>
        </div>

        <div class="footer__group newsletter">
            <p>Accede a nuestro newsletter y recibe nuestras últimas noticias</p>
            <form action="[URL del archivo que manejará el envío del formulario]" method="POST">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>


    <!------------------------------ footer ---------------------------------->


</body>

</html>