<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Servicios</title>
</head>

<body>
    <!----------------------- HEADER --------------------------------->
    <main>
        <header class="cabecera">

            <div>
                <h1 class="logo">Consultoria</h1>
            </div>
            <nav>
                <ul class="flex-container">
                    <li class="caja"><a href="../index.html">Inicio</a></li>
                    <li class="caja"><a href="./quienes-somos.html">Quienes somos</a></li>
                    <li class="caja caja-select"><a href="#">Servicios</a></li>
                    <li class="caja"><a href="./experiencias.html">Experiencias</a></li>
                    <li class="caja"><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
    
        </header>

        <!----------------------- HEADER --------------------------------->

        <h2 class="nosotros-titulo">Nuestros servicios</h2>
        <article class="container-servicios">
            <div class="container-columna">
                <img src="../img/DSC_0513.jpg" alt="">
                <div>
                    <h3>Servicio 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum dolores repudiandae possimus alias iusto quasi nisi aspernatur dolore culpa beatae ex eaque perspiciatis repellendus, porro odit libero recusandae praesentium doloribus tempore esse quo labore quis. Error quibusdam porro voluptas esse commodi tenetur repellat nulla, ex, exercitationem ut tempore cumque dolor alias! Ratione atque sapiente maiores, nihil consequatur explicabo eligendi inventore nisi voluptatum, minus eaque sunt earum esse. Quibusdam saepe quia eligendi officia repellendus assumenda est ab perferendis dolor dolore?</p>
                </div>

            </div>
            <div class="container-columna rev">
                <img src="../img/RDM_1831.jpg" alt="">
                <div>
                    <h3>Servicio 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum dolores repudiandae possimus alias iusto quasi nisi aspernatur dolore culpa beatae ex eaque perspiciatis repellendus, porro odit libero recusandae praesentium doloribus tempore esse quo labore quis. Error quibusdam porro voluptas esse commodi tenetur repellat nulla, ex, exercitationem ut tempore cumque dolor alias! Ratione atque sapiente maiores, nihil consequatur explicabo eligendi inventore nisi voluptatum, minus eaque sunt earum esse. Quibusdam saepe quia eligendi officia repellendus assumenda est ab perferendis dolor dolore?</p>
                </div>
            </div>
            <div class="container-columna">
                <img src="../img/RDM_2277.jpg" alt="">
                <div>
                    <h3>Servicio 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum dolores repudiandae possimus alias iusto quasi nisi aspernatur dolore culpa beatae ex eaque perspiciatis repellendus, porro odit libero recusandae praesentium doloribus tempore esse quo labore quis. Error quibusdam porro voluptas esse commodi tenetur repellat nulla, ex, exercitationem ut tempore cumque dolor alias! Ratione atque sapiente maiores, nihil consequatur explicabo eligendi inventore nisi voluptatum, minus eaque sunt earum esse. Quibusdam saepe quia eligendi officia repellendus assumenda est ab perferendis dolor dolore?</p>
                </div>
            </div>
            <div class="container-columna rev">
                <img src="../img/RDM_2349.JPG" alt="">
                <div>
                    <h3>Servicio 4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum dolores repudiandae possimus alias iusto quasi nisi aspernatur dolore culpa beatae ex eaque perspiciatis repellendus, porro odit libero recusandae praesentium doloribus tempore esse quo labore quis. Error quibusdam porro voluptas esse commodi tenetur repellat nulla, ex, exercitationem ut tempore cumque dolor alias! Ratione atque sapiente maiores, nihil consequatur explicabo eligendi inventore nisi voluptatum, minus eaque sunt earum esse. Quibusdam saepe quia eligendi officia repellendus assumenda est ab perferendis dolor dolore?</p>
                </div>
            </div>
        </article>

    </main>
    <!------------------------------ footer ---------------------------------->
    <footer class="footer">
        <div>
            <div class="group">
                <img class="logos-footer" src="../img/ubi.png" alt="ubicacion">
                <p>Dirección: Calle Siempreviva 1234</p>
            </div>
            <div class="group">
                <img class="logos-footer" src="../img/tel.png" alt="telefono">
                <p>Teléfono: +54 123 456 789</p>
            </div>
            <div class="group">
                <img class="logos-footer" src="../img/mail.png" alt="correo">
                <p>Correo electrónico: consultoradeprueba@gmail.com</p>
            </div>
        </div>

        <div class="group newsletter">
            <p>Accede a nuestro newsletter y recibe nuestras últimas noticias</p>
            <form action="[URL del archivo que manejará el envío del formulario]" method="POST">
                <input type="email" name="email" placeholder="Correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div>
    </footer>


    <!------------------------------ footer ---------------------------------->


</body>

</html>