.experiencias__container {
    @include flex-box;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    @include pc{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.experiencias__fotos {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-height: 600px;
    @include pc{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width:50vw;
    }
}

.experiencias__texto {
    width: 90vw;
    @include flex-box(center, flex-start);
    
    @include pc{
        width: 100vw;
        padding: 20px;
    }
    p {
        padding: 5px 30px;
        font-size: 1.4rem;
        line-height: 2rem;
    }
}
.video {
    @include flex-box();
}