.experiencias__container {
    @include flex-box;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    @include tablet {
        flex-direction: row;
    }

    @include pc {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.experiencias__fotos {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: auto;

    @include pc {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        width: 50vw;
    }

    & img {
        padding: 10px;
        border-radius: 30%;

        @include pc {
            border-radius: 50%;
        }
    }
}

.experiencias__texto {
    width: 90vw;
    @include flex-box(center, flex-start);

    @include pc {
        width: 100vw;
        padding: 20px;
    }

    p {
        padding: 15px 30px;
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

.video {
    @include flex-box();
}