.cabecera {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    

    @include pc{
        flex-direction: row;
    }

    div {
        width: 80vw;
        @include flex-box();
        height: 100%;

        @include pc{
            justify-content: flex-start;
        }

    }

    nav {
        width: 100vw;
        top: 0;
        right: 0;
        align-items: center;
        align-content: center;

    }

    a {

        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-decoration: none;
        font-size: 0.9rem;
        line-height: 1rem;

        @include pc{
            font-size: 1.4rem;
        }
    }

    &__logo {
        font-size: 1.8rem;
        padding: 5px 0 0 0;
        
        cursor: default;
        @include pc{
            font-size: 2.5rem;
            padding: 10px;
            margin-left: 20px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        width: 100%;
    

        & a:hover {
            color: #fff;
        }
    }

    &__caja{
        width: auto;
        height: 15px;
        padding: 0px 0px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        margin: 5px;
        font-weight: bold;
    
        &--select{
            @extend .cabecera__caja;
            text-decoration: underline;
            
        }
    }
}
